<div class="container-fluid px-4">
  <h1 class="mt-4">Dashboard</h1>
 
  <div class="row mb-4" style="text-align: center;">
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-users fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Customers</p>
          <h6 class="mb-0">{{response.UserCount}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-person-biking fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Orders</p>
          <h6 class="mb-0">{{response.OrderCount}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">

        <i class="fa-sharp fa-solid fa-link-slash fa-3x text-white"></i>
        <div class="ms-3">

          <p class="mb-2" style="color: red;">Cancelled Orders</p>
          <h6 class="mb-0">{{response.CancelledCount}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-money-bill-1 fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Today Revenue</p>
          <h6 class="mb-0">{{response.TodayRevenue}}</h6>

        </div>
      </div>
    </div>
  </div>


  <div class="row mb-4" style="text-align: center;">
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-primary text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-boxes-stacked fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Total Products</p>
          <h6 class="mb-0">{{response.ProductCount}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-warning text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-solid fa-handshake-simple fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Total COD</p>
          <h6 class="mb-0">{{response.CodCount}}</h6>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 mb-2">
      <div class="bg-success text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa-regular fa-credit-card fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Online Payment</p>
          <h6 class="mb-0">{{response.OnlineCount}}</h6>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xl-3 col-md-6 mb-2">
      <div class="bg-danger text-white rounded d-flex align-items-center justify-content-between p-4">
        <i class="fa fa-chart-line fa-3x text-white"></i>
        <div class="ms-3">
          <p class="mb-2">Total Revenue</p>
          <h6 class="mb-0">{{response.totalRevenue}}</h6>
        </div>
      </div>
    </div>
  </div>
  {{!-- ............................................................. --}}
  {{!-- <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <div class="card-body">Primary Card</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="#">View Details</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-warning text-white mb-4">
        <div class="card-body">Warning Card</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="#">View Details</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <div class="card-body">Success Card</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="#">View Details</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card bg-danger text-white mb-4">
        <div class="card-body">Danger Card</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="#">View Details</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div> --}}
  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-area me-1"></i>
          Area Chart Example
        </div>
        <div class="card-body"><canvas id="myAChart" width="100%" height="40"></canvas></div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-area me-1"></i>
          Pie Chart Example
        </div>
        <canvas id="mypieChart" style="width:100%;max-width:600px"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-bar me-1"></i>
          Bar Chart Example
        </div>
        <div class="card-body"><canvas id="myChart" width="100%" height="40"></canvas></div>
      </div>
    </div>
  </div>
</div>



<script>
  window.addEventListener('load', (event) => {
    axios({
      url: '/admin/getdash',
      method: 'get'
    }).then((response) => {
      console.log(response, "response is here")
      var xValues = [response.data.status.dateArray[0], response.data.status.dateArray[1], response.data.status.dateArray[2], response.data.status.dateArray[3], response.data.status.dateArray[4]];
      var yValues = [response.data.status.dateSale[0], response.data.status.dateSale[1], response.data.status.dateSale[2], response.data.status.dateSale[3], response.data.status.dateSale[4]];
      var barColors = [
        'blue',
        'green',
        'yellow',
        'orange',
        'red',
      ];

      new Chart("myChart", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Order range"
          }
        }
      })
    })
  });



</script>
<script>
  window.addEventListener('load', (event) => {
    axios({
      url: '/admin/getdash',
      method: 'get'
    }).then((response) => {
      console.log(response, "response is here")
      var xValues = ["Orders", "Cancelled", "Shipped", "Pending", "Delivered"];
      var yValues = [{{ response.OrderCount }}, {{ response.CancelledCount }}, {{ response.ShippedCount }}, {{ response.PendingCount }}, {{ response.DeliveredCount }}];
  var barColors = [
    'green',
    'red',
    'yellow',
    'orange',
    'blue,'
  ];

  new Chart("mypieChart", {
    type: "pie",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: { display: true },
      title: {
        display: true,
        text: "Order System"
      }
    }
  })
    })
  });
</script>
<script>
  window.addEventListener('load', (event) => {
    axios({
      url: '/admin/getdash',
      method: 'get'
    }).then((response) => {
      console.log(response, "response is here")
      var xValues = [response.data.status.dateArray[0], response.data.status.dateArray[1], response.data.status.dateArray[2], response.data.status.dateArray[3], response.data.status.dateArray[4]];
      var yValues = [response.data.status.dateSale[0], response.data.status.dateSale[1], response.data.status.dateSale[2], response.data.status.dateSale[3], response.data.status.dateSale[4]];

      new Chart("myAChart", {
        type: "line",
        data: {
          labels: xValues,

          datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,2.1)",
            data: yValues,

          }]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Order System"
          }
        }
      })
    })
  });
</script>