<div class="container-fluid mt-5">


  <a href="#" class="btn btn-success ml-5" data-toggle="modal" data-target="#exampleModalCenter">Add
    banner</a>

  {{!-- ........................................................ --}}
  <!-- Button trigger modal -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form action="/admin/addbanner" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Banner Heading" name="bannerheading">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Banner Subheading" name="bannersubheading">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input type="text" class="form-control" placeholder="Description" name="description">
              </div>

            </div>
            <div style="text-align: center;">
              <label class="col-md-4 control-label" for="filebutton">Banner Images</label>
              <div class="col-md-4">
                <input id="filebutton" multiple name="image" class="input-file" type="file">
              </div>
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Banner</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {{!-- ................................................................... --}}


  <div class="row mt-5">
    <div class="col-md-10 mx-auto border ">
      <table class="table table-striped" id="usertable">
        <thead>
          <tr>
            <th scope="col">Banner Heading</th>
            <th scope="col">Banner Subheading</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

          {{#each bannerDetails}}

          <tr>
            <td>{{this.bannerheading}}</td>
            <td>{{this.bannersubheading}}</td>

            <td>
              <img src="/banner-images/{{this.image.[0]}}" alt="" width="50em">
            </td>

            <td>{{this.description}}</td>

            <td>
              {{!-- <a class="btn btn-outlin-success" data-bs-toggle="modal" data-bs-target="#exampleModal1{{this._id}}"
                href="/admin/updatebanner/{{this._id}}">Edit</a> --}}

              <a href="#" class="btn btn-success ml-5" data-toggle="modal"
                data-target="#exampleModalCenter1{{this._id}}">Edit</a>

              {{!-- .......modal........... --}}
              <div class="modal fade" id="exampleModalCenter1{{this._id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">


                      <form action="/admin/editbanner/{{this._id}}" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" value="{{this.bannerheading}}"
                              placeholder="Banner Heading" name="bannerheading">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" value="{{this.bannersubheading}}"
                              placeholder="Banner Subheading" name="bannersubheading">
                          </div>
                        </div>
                        <div class="row mt-2">
                          <div class="col">
                            <input type="text" class="form-control" value="{{this.description}}"
                              placeholder="Description" name="description">
                          </div>

                        </div>
                        <div style="text-align: center;">
                          <label class="col-md-4 control-label" for="filebutton">Banner Images</label>
                          <div class="col-md-4">
                            <input id="filebutton" multiple name="image" class="input-file" type="file">
                          </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Update Banner</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              {{!-- ...................................... --}}



              <a class="btn btn-danger" href="/admin/deletebanner/{{this._id}}"
                onclick=" removebanner(event, '{{this.bannerheading}}')">Delete</a>
            </td>
            {{!--
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button> --}}



            {{/each}}

          </tr>


        </tbody>
      </table>
    </div>
  </div>





</div>


<script>
  function removebanner(ev, id) {
    ev.preventDefault();
    var url = ev.currentTarget.getAttribute('href')
    swal({
      title: "Are you sure?",
      text: "You Want to remove this item!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {

        if (willDelete) {

          swal({
            title: "Item Has been removed...!",
            icon: "success",
            buttons: false,
            timer: 1000,
            width: '25em'
          });
          window.location.href = url;
        } else {
          swal("Your file is safe!");
        }
      });
  }
</script>