<style>
  .error{
    color: red;
  }
</style>
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li>Addresses</li>
    </ol>
  </div>
</section><!-- End Breadcrumbs -->
<section id="team" class="team section-bg" style="background-color: #013741ce;">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-center h-100">
          <div style="font-size: 35px;">
            <i class="bi bi-plus-lg"></i>
          </div>
          <div class="member-info">
            <h4><a style="text-align: end; cursor: pointer;" type="button" data-toggle="modal"
                data-target="#exampleModalCenter">Add Address</a></h4>
            </h4>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle" style="color: black;">Add Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form action="/add_address" method="post" id="AddressForm">

                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Housename" name="housename" required>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Apartment" name="apartment" required>
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" style="text-transform: capitalize;" class="form-control"
                        placeholder="Village / City Name" name="villageorcity">
                    </div>
                    <div class="col">
                      <input type="text" style="text-transform: capitalize;" class="form-control"
                        placeholder="Postoffice" name="postoffice">
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" style="text-transform: capitalize;" class="form-control" placeholder="District"
                        name="district">
                    </div>
                    <div class="col">
                      <input type="number" style="text-transform: capitalize;" class="form-control" placeholder="PIN NO"
                        name="pin">
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input pattern=".{10,10}" type="number" class="form-control" placeholder="Mobile Number"
                        name="mobile" title="plese enter 10 number">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Near By Landmark" name="landmark">
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="State" name="state" value="{{this.state}}">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" readonly placeholder="Country" name="Country"
                        value="INDIA">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
      {{#each address.addresses}}
      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-center justify-content-around">
          <div style="font-size: 35px; ;">
            <ion-icon name="location-outline"></ion-icon>
          </div>
          <div class="member-info">
            <div class="row">
              <div class="col-sm-">

                <ul style="list-style-type: none;" class="pl-1">
                  <li>{{this.name}}</li>
                  <li>{{this.housename}}, {{this.villageorcity}}</li>

                  <li>{{this.apartment}}, {{this.postoffice}} PO ,PIN{{this.pin}}</li>

                  <li> {{this.district}}, {{this.state}}</li>

                  <li>MOB {{this.mobile}}</li>
                  <li>
                    <ion-icon name="location-outline"></ion-icon> {{this.landmark}}
                  </li>
                  {{!-- ........................................edit address........................................
                  --}}

                  <li style="text-align: end;text-decoration: none;">


                    {{!-- ........................................remove address........................................
                    --}}
                  </li>
                </ul>

              </div>
            </div>
          </div>

          <div>
            <a style="font-size: 35px; cursor: pointer;" data-toggle="modal" data-target="#ModalCenter{{this._id}}">
              <ion-icon name="cut-outline"></ion-icon>
            </a>
          </div>
          <div>
            <a class="btn btn" style="color: red;font-size: 35px;" href="/remove_address/{{this._id}}"
              onclick=" removeaddress(event, '{{this.productId._id}}')">
              <ion-icon name="trash-outline"></ion-icon>
            </a>

          </div>

        </div>
        <!-- Modal 1 edit address -->
        <div class="modal fade" id="ModalCenter{{this._id}}" tabindex="-1" role="dialog"
          aria-labelledby="ModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle" style="color: black;">Add Address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form action="/update_address/{{this._id}}" method="post" id="AddressForm">

                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Name" name="name" value="{{this.name}}"
                        required>
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Housename" name="housename"
                        value="{{this.housename}}" required>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Apartment" name="apartment"
                        value="{{this.apartment}}" required>
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" style="text-transform: capitalize;" class="form-control"
                        placeholder="Village / City Name" name="villageorcity" value="{{this.villageorcity}}">
                    </div>
                    <div class="col">
                      <input type="text" style="text-transform: capitalize;" class="form-control"
                        placeholder="Postoffice" name="postoffice" value="{{this.postoffice}}">
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" style="text-transform: capitalize;" class="form-control" placeholder="District"
                        name="district" value="{{this.district}}">
                    </div>
                    <div class="col">
                      <input type="number" style="text-transform: capitalize;" class="form-control" placeholder="PIN NO"
                        name="pin" value="{{this.pin}}">
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input pattern=".{10,10}" type="text" class="form-control" placeholder="Mobile Number"
                        name="mobile" title="plese enter 10 number" value="{{this.mobile}}">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Near By Landmark" name="landmark"
                        value="{{this.landmark}}">
                    </div>
                  </div>
                  <div class="form-row" style="margin-bottom: 20px;">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="State" name="state" value="{{this.state}}">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" readonly placeholder="Country" name="Country"
                        value="INDIA">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>

                </form>
              </div>

            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section><!-- End Team Section -->



</div>
{{!-- .......................icons.............. --}}
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{{!-- ................ajax................ --}}


<script>

  $().ready(function () {

    $("#AddressForm").validate({
      // in 'rules' user have to specify all the constraints for respective fields
      rules: {

        name: {
          required: true,
          minlength: 2 //for length of lastname
        },
        pin: {
          required: true,
          number: true,
          minlength: 6,
          maxlength: 6,
        },
        mobile: {
          required: true,
          number: true,
          minlength: 10,
          maxlength: 10,
        }
      },
      // in 'messages' user have to specify message as per rules
      messages: {
        name: {
          required: " Please enter Name",
          minlength: " Your username must consist of at least 2 characters"
        },
        pin: {
          required: " Please enter a pin number",
          minlength: " Pin required 6 numbers",
          maxlength: " Pin required 6 numbers",
        },
        mobile: {
          required: " Please enter a phone number",
          minlength: " phone required 10 numbers",
          maxlength: " phone required 10 numbers",
        },
      }
    });
  });

</script>

  