{{#if emptyCart}}

<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>My cart...</h2>
    </div>


    <div class="md-12">

      <div class="card">

        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something :)</h4>
            <a href="/shop" class="btn btn-outline-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>


          </div>
        </div>
      </div>


    </div>
  </div>
</section>



{{else}}
<style>
  .title {
    margin-bottom: 5vh;
  }

  .card {

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
  }

  @media(max-width:767px) {
    .card {
      margin: 3vh auto;
    }
  }

  .cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  @media(max-width:767px) {
    .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
    }
  }

  .summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
  }

  @media(max-width:767px) {
    .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem;
    }
  }

  .summary .col-2 {
    padding: 0;
  }

  .summary .col-10 {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .title b {
    font-size: 1.5rem;
  }

  .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
  }

  .col-2,
  .col {
    padding: 0 1vh;
  }

  a {
    padding: 0 1vh;
  }

  .close {
    margin-left: auto;
    font-size: 0.7rem;
  }

  img {
    width: 5.5rem;
  }

  .back-to-shop {
    margin-top: 4.5rem;
  }

  h5 {
    margin-top: 4vh;
  }

  hr {
    margin-top: 1.25rem;
  }

  form {
    padding: 2vh 0;
  }

  select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }


  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  #code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
  }
</style>
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>My cart...</h2>
    </div>
    <div class="card">
      <div class="row" id="quantity">
        <div class="col-md-9 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h4><b>Shopping Cart </b></h4>
              </div>
              <div class="col align-self-center text-right text-muted" id="cart-count">{{DatasCart.count}} Items
              </div>
            </div>
          </div>
          {{#each DatasCart}}

          <div class="quantity row border-top border-bottom" >

            <div class="row main align-items-center">
              <div class="col-2"> <a href="/singleproduct/{{this.productId._id}}"><img class="img-fluid"
                    src="/productimages/{{this.productId.image.[0]}}"></a></div>
              <div class="col">
                <div class="row text-muted" style="text-transform: capitalize;">{{this.productId.brand}}</div>
              </div>

              <div class="col input-group-btn ">
                {{#if (gt this.quantity 1)}}
                <a style="cursor: pointer;" onclick="decQty( '{{this.productId._id}}')">-</a>
                {{else}}
                <a>-</a>
                {{/if}}

                <input id="{{this.productId._id}}" name="quantity" type="text" style="width: 35px; text-align: center;"
                  value="{{this.quantity}}" readonly>

                <a style="cursor: pointer;" onclick="incQty( '{{this.productId._id}}')">+</a>
              </div>
              <div class="col">₹ {{this.productId.offerprice}}
              </div>
              <div class="col" id="subTotal">₹ {{subTotal this.quantity this.productId.offerprice}}</div>

              <div class="col">
                <a class="btn btn" style="color: red;" href="/remove-product/{{this.productId._id}}"
                  onclick=" remove(event, '{{this.productId._id}}')">
                  <ion-icon name="trash-outline"></ion-icon>
                </a>

              </div>
            </div>

          </div>
          {{/each}}


        </div>
        <div class="col-md-3 summary" style="background-color: #013741;">
          <div>
            <h5 style="color: white;"><b>Summary</b></h5>
          </div>
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0; color: white;">
            <div class="col h5">Items {{DatasCart.count}}
              {{#each DatasCart}}
              <div class="col text-right" id="total">₹ {{subTotal this.quantity this.productId.offerprice}}</div>
              {{/each}}
            </div>

          </div>
          <form>
            <h6 style="color: white;">SHIPPING</h6>
            <select>
              <option class="text-muted">Free-Delivery</option>
            </select>

          </form>

          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0; color: white;">
            <div class="col h5">Total PRICE</div>

            <div class="col text-right" style="color: white;">₹ {{products.grandtotalprice}}</div>
          </div>
          <div>
           
          </div>
          <a class="btn btn-outline-info w-100 mt-3" type="submit" href="/checkout">PROCEED</a>
        </div>
      </div>

    </div>
  </div>
</section>

{{/if}}