<link rel='stylesheet' href='/stylesheets/bill.css' />
<style>
  .title {
    margin-bottom: 5vh;
  }

  .card {

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
  }

  @media(max-width:767px) {
    .card {
      margin: 3vh auto;
    }
  }

  .cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  @media(max-width:767px) {
    .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
    }
  }

  .summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
  }

  @media(max-width:767px) {
    .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem;
    }
  }

  .summary .col-2 {
    padding: 0;
  }

  .summary .col-10 {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .title b {
    font-size: 1.5rem;
  }

  .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
  }

  .col-2,
  .col {
    padding: 0 1vh;
  }

  a {
    padding: 0 1vh;
  }

  .close {
    margin-left: auto;
    font-size: 0.7rem;
  }

  img {
    width: 5.5rem;
  }

  .back-to-shop {
    margin-top: 4.5rem;
  }

  h5 {
    margin-top: 4vh;
  }

  hr {
    margin-top: 1.25rem;
  }

  form {
    padding: 2vh 0;
  }

  select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }


  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  #code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
  }
</style>


<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Your Order Confirmed...</h2>
    </div>
    {{!-- ................................................. --}}


    <div class="card">
      <div class="row">
        <div class="col-md-9 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h4><b>Order complete </b></h4>
                <p>Shipping Details</p>
                {{!-- <h6>Your delivery Location </h6> --}}
              </div>
              <div class="col text-right">
                <a href="/invoice/{{orderItemsDetails._id}}"><i class="bi bi-receipt"></i> Invoice</a>
              </div>
            </div>
          </div>



          <div class="row border-top">
            <div class="form-check d-flex justify-content-between">

              <div class="row main align-items-center">
                <ul class="h6" style="list-style-type:none;">
                  <li>{{address.name}}</li>
                  <li>{{address.housename}}, {{address.villageorcity}}</li>

                  <li>{{address.apartment}}, {{address.postoffice}} PO ,PIN {{address.pin}}</li>

                  <li> {{address.district}}, {{address.state}}</li>
                  <li>
                    MOB +91-{{address.mobile}},
                    <ion-icon name="location-outline"></ion-icon> {{address.landmark}}
                  </li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <b></b>
                <h5>Payment method = {{orderItemsDetails.paymentMethod}}</h5></b>
              </div>
              <div class="col mt-2">

                <div class="row" style="color: black">
                  <ul style="list-style: none; text-align: end;">
                    <li>Total Price = ₹ {{orderItemsDetails.totalamount}}</li>
                    {{#if orderItemsDetails.coupon}}
                    <li style="color: red">Coupon Discount = ₹ {{orderItemsDetails.discount}}</li>
                    <li><b> Grand Total = ₹ {{orderItemsDetails.grandtotalamount}}</b></li>
                    {{/if}}
                  </ul>
                </div>
              </div>

            </div>

          </div>



        </div>
        <div class="col-md-3 summary" style="background-color: #013741;">

          <div>
            <h5 style="color: white;"><b>Shipping Summary</b></h5>
          </div>
          <div class="row" style="border-top: 1px solid white; padding: 2vh 0; color: white;">
            <div class="col h4">Items {{DatasCart.count}}
            </div>
            <div style="height: 200px;overflow-y: auto;">
              {{#each orderitems}}
              <div>

                <div class="row d-flex">
                  <div class="col d-flex justify-content-between">
                    <div><img src="/productimages/{{this.productId.image.[0]}}" alt="" width="50"></div>
                    <div>
                      <div>
                        <div style="font-size: 14px !important; ">
                          {{this.productId.brand}}
                        </div>
                        <div class="mt-4" style="font-size: 16px !important;text-align: end;">
                          {{this.quantity}} X {{this.productId.offerprice}}
                        </div>
                        <div class="" style="font-size: 16px !important;text-align: end;">
                          ₹ {{subTotal this.quantity this.productId.offerprice}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              {{/each}}
            </div>


            <div>
              <a class="btn btn-outline-info w-100 mt-2" type="submit" href="/shop">Back to Shopping</a>
              {{!-- ....................................... --}}
            </div>
          </div>
          

        </div>
      </div>

    </div>
  </div>
</section>