<link rel='stylesheet' href='/stylesheets/payment.css' />
<style>
  .title {
    margin-bottom: 5vh;
  }

  .card {

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
  }

  @media(max-width:767px) {
    .card {
      margin: 3vh auto;
    }
  }

  .cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  @media(max-width:767px) {
    .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
    }
  }

  .summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
  }

  @media(max-width:767px) {
    .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem;
    }
  }

  .summary .col-2 {
    padding: 0;
  }

  .summary .col-10 {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .title b {
    font-size: 1.5rem;
  }

  .main {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
  }

  .col-2,
  .col {
    padding: 0 1vh;
  }

  a {
    padding: 0 1vh;
  }

  .close {
    margin-left: auto;
    font-size: 0.7rem;
  }

  img {
    width: 5.5rem;
  }

  .back-to-shop {
    margin-top: 4.5rem;
  }

  h5 {
    margin-top: 4vh;
  }

  hr {
    margin-top: 1.25rem;
  }

  form {
    padding: 2vh 0;
  }

  select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
  }

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }


  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  #code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
  }
</style>
{{!-- <form action="/bill" method="post"> --}}
  <div class="header mb-5">
    <div class="d-flex justify-content-around px-5 pb-3 ">
      <div class="px-sm-4 px-2 active">Cart
        <span class="fas fa-check"></span>
      </div>
      <div class="px-sm-4 px-2 active">Details
        <span class="fas fa-check"></span>
      </div>
      <div class="px-sm-3 px-2 active">Shipping
        <span class="fas fa-check"></span>
      </div>
      <div class="px-sm-5 px-2">Payment</div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>
  {{!-- ................................................. --}}

  <div class="container mt-5">
    <div class="card">
      <div class="row">
        <div class="col-md-9 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h4><b>Payment </b></h4>
                <h6>Your delivery Location </h6>

              </div>

            </div>
          </div>



          <div class="row border-top">
            <div class="form-check d-flex justify-content-between">
              <div class="my-auto mx-3">
                <input value="{{address._id}}" name="address" type="radio" class="form-check-input" checked>
              </div>
              <div class="row main align-items-center">
                <ul class="h6" style="list-style-type:none;">
                  <li>{{address.name}}</li>
                  <li>{{address.housename}}, {{address.villageorcity}}</li>

                  <li>{{address.apartment}}, {{address.postoffice}} PO ,PIN {{address.pin}}</li>

                  <li> {{address.district}}, {{address.state}}</li>
                  <li>
                    MOB +91-{{address.mobile}},
                    <ion-icon name="location-outline"></ion-icon> {{address.landmark}}
                  </li>
                </ul>
              </div>
            </div>
            <hr>
            <div>
              <div><b>
                  <h5>Payment method</h5>
                </b> </div>
              <div class="row mt-2">
                <div class="col form-check ml-5">
                  <input class="form-check-input" value="COD" type="radio" name="paymentMethod" id="flexRadioDefault1"
                    checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    C O D
                  </label>
                </div>
                <div class="col form-check">
                  <input class="form-check-input" value="onlinepayment" type="radio" name="paymentMethod"
                    id="flexRadioDefault2">
                  <label class="form-check-label" for="flexRadioDefault2">
                    Online Payment
                  </label>
                </div>
              </div>

            </div>

          </div>



        </div>
        <div class="col-md-3 summary" style="background-color: #343A40;">

          <div>
            <h5 style="color: white;"><b>Order Summary</b></h5>
          </div>
          <div class="row" style="border-top: 1px solid white; padding: 2vh 0; color: white;">
            <div class="col h4">Items {{DatasCart.count}}
            </div>
            <div style="height: 200px;overflow-y: auto;">
              {{#each DatasCart}}
              <div>

                <div class="row d-flex">
                  <div class="col d-flex justify-content-between">
                    <div><img src="/productimages/{{this.productId.image.[0]}}" alt="" width="50"></div>
                    <div>
                      <div>
                        <div style="font-size: 14px !important; ">
                          {{this.productId.brand}}
                        </div>
                        <div class="mt-4" style="font-size: 16px !important;text-align: end;">
                          {{this.quantity}} X {{this.productId.offerprice}}
                        </div>
                        <div class="" style="font-size: 16px !important;text-align: end;">
                          ₹ {{subTotal this.quantity this.productId.offerprice}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </div>
              {{/each}}
            </div>


            <div>
              <div class="row" style="border-top: 1px solid white; padding: 2vh 0; color: white">
                <div class="col-auto">
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" name="Coupencode" id="Coupencode" placeholder="Coupon ">
                    <div class="input-group-prepend">
                      <div class="input-group-btn">
                        <a class="btn btn-outline-warning" onclick="applyCoupon()">Apply</a>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col h4">Total PRICE</div>
                <div class="col text-right"><span id="coupontotal"> ₹ {{products.grandtotalprice}}</span></div>
              </div>

              <button class="btn btn-outline-info w-100" type="submit" onclick="payment()">PROCEED</button>
              {{!-- ....................................... --}}

            </div>
          </div>
          {{!-- <a href="/checkout" type="button" class="btn btn-dark btn-block btn-lg"
            data-mdb-ripple-color="dark">PROCEED</a> --}}

        </div>
      </div>

    </div>
  </div>
  {{!--
</form> --}}

<script>
  function applyCoupon() {
    console.log('ffffffffff')
    let value = document.getElementById('Coupencode').value
    console.log('val ', value)
    axios({
      method: 'post',
      url: '/applyCoupon',
      data: {
        code: value
      }
    }).then((e) => {
      //alert(e)
      console.log("aaaaaaaaaaa", e.data)
      console.log(e.data.Coupon_grandtotal, "----------aaaaaaaaaaa")
      if (e.data.Coupon_grandtotal == undefined) {
        swal({
          text: "coupon doesn't exist",
          icon: "warning",
          button: false,
          timer: 1000
        })
      } else {
        let grandTotal = document.getElementById('coupontotal')
        console.log(grandTotal, "jjjjj")
        grandTotal.innerHTML = e.data.Coupon_grandtotal
        swal({
          text: "coupon used",
          icon: "success",
          button: false,
          timer: 1000
        })
        console.log(grandTotal, "qqqq")
      }
      //let bigtotal = document.getElementById('bigamount')
      // bigtotal.innerHTML = e.data.applaycoupen.grandtotal
    })
  }

  const payment = () => {
    let address = $('input[type = "radio"][name = "address"]:checked').val()
    console.log(address, 'payment address')

    let billtype = $('input[type="radio"][name="paymentMethod"]:checked').val()

    // location.href= `/bill/${address}`
    try {
      axios.post('/payment', { address, billtype })
        .then((e) => {
          console.log(billtype, "sujithppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp")
          if (billtype == 'COD') {
            // e.data.data.billtype = "COD"
            console.log(e.data.data, 'oooooooooooooooo')
            location.href = `/order_confirm/${e.data.data.receipt}`

          } else {
            razorpayPayment(e.data.data)
            console.log(e.data.data, 'datasasdasdasdas')

          }
        })
    } catch (error) {
      console.log('errrorr ....axios', error)
    }

    //location.href= `/payment/${address._id}`
  }

  function razorpayPayment(order) {
    console.log(order)
    var options = {
      "key": "rzp_test_8yHS6YjsYUGv0D", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "AmaZe ",
      "description": "Your FIn ",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function (response) {
        alert(response.razorpay_payment_id);

        verifyPayment(response, order)
      },
      "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "1212121212"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
  }
  const verifyPayment = async (payment, order) => {
    console.log(payment, order, '......verify payment')
    try {
      const res = await axios.post('/verifyPayment', {
        payment,
        order
      }).then((e) => {
        if (e.data.status) {
          console.log(e.data.status, '......1111111111111')
          console.log(order.receipt, '----------------------------')
          alert('payment success')
          location.href = `/order_confirm/${order.receipt}`;

        } else {
          alert('.........payment failed')
        }
      })
    } catch (error) {
      console.log(error, 'erroroo,............')
    }
  }
</script>